run = "npm run replit"
modules = ["nodejs-20:v8-20240808-44c19a9"]
hidden = [".config", "package-lock.json", ".next", ".git"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json"]

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
ignorePorts = false
buildCommand = "npm run build:force"

[[ports]]
localPort = 3000
externalPort = 3000

[nix]
channel = "stable-23_11"

[env]
NODE_ENV = "production"
USE_SQLITE = "true"
DATABASE_PATH = "kid-text-battle.db"
PORT = "3000"
JWT_SECRET = "kid-text-battle-replit-2024"
ADMIN_DEFAULT_PASSWORD = "1234"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[languages]
[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[unitTest]
language = "nodejs"